.nav {
	height: 1.8rem;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.178);
	display: flex;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		li {
			margin: 5px 20px;
		}
	}
}
